doc
## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## APTANA
.project

## PROJECT::GENERAL
coverage
rdoc
pkg
reve.gemspec
## PROJECT::SPECIFIC

Guardfile
foo_test.rb
Gemfile
Gemfile.lock
